---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$purple:           #553853;

$pink:             #C552AF;

$tan:              #F8EFE3;

$blue:             #323649;

$grey:             #BDB5BE;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

body {
  overflow-x: hidden;
}
.site-header {
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/assets/images/office.png");
  background-position: center;
}

.row-tall {
  height: 90%;
}

.columns-tall {
  height: 100%;
}

.logo-large {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    a {
      text-decoration: none;
      color: white;
    }
    li {
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      letter-spacing: 2px;
      }
      .end {
        margin: 0;
    }
  }
}
.section2 {
  font-family: 'Raleway', sans-serif;
  color: white;
  h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
  }
  .right {
    text-align: center;
  }
  h2 {
    font-size: 25px;
    margin-top: 15px;
  }
  p {
    font-size: 15px;
  }
}
.solid {
  position: relative;
  // overflow-x: hidden;
  background-color: $purple;
  padding: 75px 0;
}

.solid1 {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotate(-5deg);
  transform-origin: 0% 100%;
  top: 0px;
  left: 50%;
  background-color: $purple;
}

.solid2 {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(5deg);
  transform-origin: 100% 0%;
  top: 0px;
  right: 50%;
  background-color: $purple;
}

.solid3 {
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotate(5deg);
  transform-origin: 0% 100%;
  bottom: 0px;
  left: 50%;
  background-color: $purple;
}

.solid4 {
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotate(-5deg);
  transform-origin: 100% 0%;
  bottom: 0px;
  right: 50%;
  background-color: $purple;
}

// .section3 {
//   width: 100%;
//   padding-top: 50px;
//   background-color: $purple;
//   .team {
//     font-family: 'Raleway', sans-serif;
//     color: white;
//     text-align: center;
//     margin-top: 38px;
//     h1 {
//       font-weight: 700;
//       font-size: 40px;
//     }
//   }
//   .person {
//     font-family: 'Raleway', sans-serif;
//     color: white;
//     text-align: center;
//     padding: 0 20px;
//     margin-bottom: 100px;
//     img {
//       background-color: white;
//       width: 100%;
//     	border-radius: 50%;
//     }
//     h2{
//       margin-top: 15px;
//       margin-bottom: 0;
//       font-size: 15px;
//       font-weight: 700;
//       line-height: 1;
//     }
//     h3{
//       font-size: 10px;
//     }
//   }
// }

.section4 {
  margin-top: -1px;
  background-color: $purple; 
  font-family: 'Raleway', sans-serif;
  color: white;
  .service {
    margin: 100px 0;
    text-align: center;
    h1 {
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 2px;
    }
    .feature {
      display: inline-block;
      padding: 20px;
      background-color: rgba(255,255,255, 0.4);
      border-radius: 50%;
      margin: 15px 0;
      img {
        text-align: center;
      }
    }
  }
}

footer {
  background-color: $grey;
  img {
    margin: 25px 0;
  }
  .social {
    float: right;
    a {
      margin-right: 5px;
    }
  }
}

.alt-header {
  .solid {
    width: 100%;
    &.blue {
      background-color: $blue;
      [class^="solid"]{
          background-color: $blue;
      }
    }
    .navbar {
      li {
        margin: 20px 25px 0;
        font-weight: 700;
      }
    }
  }
  .hero {
    background-image: url("/assets/images/Typewriter-desk.png");
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &.desktop {
      background-image: url("/assets/images/Desktop.png");
      background-position: center;
    }
    &.phone {
      background-image: url("/assets/images/phone.png");
      background-position: top center;
    }
    h1{
      font-family: 'Raleway', sans-serif;
      color: white;
      font-weight: 700;
      letter-spacing: 8px;
    }
  }

}

.about-section1 {
  background-color: $purple;
  padding-bottom: 400px;
  text-align: center;
  p {
    background-color: $purple;
    font-weight: 700;
    color: white;
    margin-top: -85px;
  }
}

.about-section2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: $purple;
  .info-us {
    position: relative;
    background-color: white;
    margin-top: -360px;
    border-color: $purple;
    border-style: solid;
    border-width: medium;
    margin-bottom: 100px;
    h2 {
      margin-top: 25px;
      font-weight: 700;
      font-size: 25px;
      line-height: 5px;
    }
    h3 {
      font-size: 15px;
    }
    img {
      margin: 20px 0;
      background-color: $tan;
      border-radius: 50%;
      width: 150px;
    }
    p {
      padding: 0 40px;
    }
    ul {
      list-style-type: none;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .summary {
    width: 75%;
    display: inline-block;
    margin: 50px 0;
    font-weight: 700;
  }
}
.service-section1 {
  font-family: 'Raleway', sans-serif;
  background-color: $blue;
  margin-top: -100px;
  color: white;
  .process{
    font-weight: 700;
    text-align: center;
      h1{
        display: inline-block;
        background-color: rgba(255,255,255, 0.3);
        height: 60px;
        width: 60px;
        border-radius: 50%;
        line-height: 50px;
      }
    h2{
      font-size: 15px;
      margin-bottom: 50px;
    }
  }
  .title {
    h1 {
      font-size: 20px;
      text-align: center;
    }
  }

  .package {
    background-color: white;
    min-height: 160px;
    border-color: $blue;
    border-style: solid;
    margin-bottom: 50px;
    color: $blue;
    .image {
      display: inline-block;
      background-color: $blue;
      position: absolute;
    }
    .package-text {
      display: inline-block;
      position: relative;
      font-weight: 700;
    }
    h2 {
      padding: 15px;
      font-size: 15px;
      text-align: center;
      font-weight: 700;
    }
    p, ul {
      font-size: 10px;
      font-weight: 700;
    }
  }
  .start {
    width: 100%;
    background-color: white;
    height: 250px;
    color: $blue;
    ul {
      padding-top: 30px;
      margin-bottom: 0;
      list-style-type: none;
      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
    }
    .hire {
      font-family: 'Raleway', sans-serif;
      color: white;
      font-size: 12px;
      background-color: $grey;
      height: 30px;
      width: 100px;
      margin-left: 19px;
      border: none;
      border-radius: 7px;
      cursor: pointer;
      margin-top: 20px;
    }
  }
  .end {
    width: 100%;
    background-color: $blue;
    height: 300px;
  }

}



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "pivotl"
;

@media only screen {

  .navbar {
    li {
      margin-right: 30px;
      font-size: 15px;
    }
  }

  .hero {
    h1 {
      font-size: 65px;
    }
  }

  .smb75 {
    margin-bottom: 75px;
  }

  .info-us {
    height: auto;
  }
  .mary {
    margin-top: 400px;
  }

  .package-text {
    margin-left: 110px;
    padding-right: 10px;
  }
  .package {
    .image {
      left: 30px;
    }
  }

  .start {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 40.063em) {

  .navbar {
    li{
      margin-right: 100px;
    }
  }

  .smb75 {
    margin-bottom: 0;
  }

  .info-us {
    height: 825px;
  }
  .mary {
    margin-top: 0px;
  }
  .package-text {
    margin-left: 150px;
  }

  .start {
    display: inline-block;
    margin-top: -400px;
  }

  .package {
    .image {
      left: 50px;
    }
  }

  .hero {
    h1 {
      font-size: 90px;
    }
  }

}

@media only screen and (min-width: 64.063em) {

  .mary {
    ul {
      padding-top: 25px;
    }
  }

}
