<header class="alt-header">



      <div class="solid {{page.color}}">
          <div class="solid3"></div>
          <div class="solid4"></div>
      <div class="row">
        <div class="small-4 medium-6 columns">
          <img src="/assets/images/med-logo.png" alt="">
        </div>
        <div class="small-8 medium-6 columns">
          <nav class="navbar">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/about-us/">About</a>
              </li>
              <li>
                <a href="/services/">Services</a>
              </li>
              <li  class ="end">
                <a href="Contact">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
        </div>
      </div>
      <div class="hero {{page.hero-image}}">
        <h1>{{page.title-text}}</h1>
      </div>
      <div class="solid {{page.color}}">
          <div class="solid1"></div>
          <div class="solid2"></div>
      </div>


</header>
