<header class="site-header">


  <div class="row row-tall">
    <div class="small-12 columns columns-tall">
      <div class="logo-large">
        <img src="/assets/images/logo.png" alt="proper logo">
      </div>
      <nav class="navbar">
        <ul>
          <li>
            <a href="Home">Home</a>
          </li>
          <li>
            <a href="/about-us/">About Us</a>
          </li>
          <li>
            <a href="Contact">Contact Us</a>
          </li>
          <li class ="end">
            <a href="Pricing">Pricing</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

      <!-- <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div> -->

</header>
